<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="receipts">
    <button ion-item *ngFor="let receipt of receipts" (click)="itemTapped($event, receipt)">
      {{receipt.dateTime}}
      <div class="item-note" item-end>
        {{receipt.totalSum}}р.
      </div>
    </button>
  </ion-list>
  <!--<div *ngIf="selectedReceipt" padding>-->
    <!--You navigated here from <b>{{selectedReceipt.title}}</b>-->
  <!--</div>-->
</ion-content>
