<ion-header>

    <ion-navbar>
        <ion-title>ReceiptDetails</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngIf="receipt">
        <ion-list>
            <ion-list-header>
                Подробности
            </ion-list-header>
            <ion-item *ngFor="let detail of getReceiptDetails()">
                <h2>{{detail.title}}</h2>
                <p>{{detail.data}}</p>
            </ion-item>
            <ion-list-header>
                Товары
            </ion-list-header>
            <ion-item *ngFor="let item of receipt['items']">
                <!--<ion-thumbnail item-start>-->
                <!--<img src="img/thumbnail-totoro.png">-->
                <!--</ion-thumbnail>-->
                <h2>{{item.title}}</h2>
                <p>{{item.quantity}} <span *ngIf="item.item">{{item.item.dimension}}</span></p>
                <p *ngIf="item.item">{{item.item.title}}</p>
                <button ion-button clear item-end (click)="onChangeItemClick(item)">Изменить</button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
