<ion-header>

    <ion-navbar>
        <ion-title>ReceiptDetails</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngIf="receipt">
        <ion-list>
            <button ion-item *ngFor="let item of receipt['data']['items']" (click)="itemTapped($event, item)">
                <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
                {{item.title}}
                <div class="item-note" item-end>
                    {{item.quantity}}
                </div>
            </button>
        </ion-list>
    </div>
</ion-content>
